.scan {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 1px solid red;
}

.scanBtn {
    font-size: 2rem;
    padding-top: .3em;
    padding-bottom: .3em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;

    /* border: 1px solid red; */
    border-radius: 20px;
    width: 4em;
    color: white;
    box-shadow: 1px 3px 2px 2px rgba(0, 0, 0, 0.211);
    
    cursor: pointer;

    background: linear-gradient(30deg, rgb(55, 55, 255) , rgb(163, 0, 251));
}
.scanBtn:hover {
    background: linear-gradient(30deg, rgba(55, 55, 255, 0.95) , rgba(163, 0, 251, 0.95));
}
.scanBtn:active {
    box-shadow: none;
}
